$darkblue: #364f6b;
$lightblue: #3fc1c9;
$white: #f5f5f5;
$red: #d63d3d;
$raleway: "Raleway", sans-serif;
//Global
* {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
button {
    font-family: $raleway;
}

.app-container {
    min-height: 95vh;
}

.carousel {
    margin: auto;
    img {
        height: auto;
        max-width: 100%;
        object-fit: cover;
        padding-top: 1rem;
        border-radius: 4px;
    }
    text-align: center;
    a {
        color: black;
    }
}

.vote-average {
    background-color: black;
    color: $white;
    position: absolute;
    bottom: 20%;
    right: 5%;
    padding: 1rem;
    border-radius: 50%;
    font-weight: bolder;
}
//End Global
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    h1 {
        padding-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: 600;
    }
    h2 {
        font-weight: lighter;
        padding-bottom: 1rem;
    }
    padding: 4rem 0 4rem 0;
    background: rgb(33, 163, 200);
    background: radial-gradient(
            circle,
            rgba(33, 163, 200, 0.4598214285714286) 0%,
            rgba(15, 50, 200, 0.5802696078431373) 100%,
            rgba(30, 32, 200, 1) 100%
        ),
        url("./Images/hexellence.png");

    .hero-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    .hero-grid-images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-left: auto;
        text-align: center;
        img {
            transition: all 0.3s ease-in-out;
        }
        img:hover {
            filter: saturate(150%);
        }
    }
}
.trending-container {
    width: 80%;
    margin: auto;
    padding: 4rem 0 4rem 0;
    .trending-button {
        display: inline-flex;
        gap: 0.5rem;

        button {
            background-color: $white;
            width: 250px;
            padding: 1rem;
            text-transform: uppercase;
        }
    }
}
